.slider-card {
  background-color: #4876b390;
}

.irs--shiny .irs-bar, .irs--shiny .irs-handle, .irs--shiny .irs-line,
.irs--shiny .irs-min, .irs--shiny .irs-max, .irs.irs--shiny .irs-from, .irs.irs--shiny .irs-to {
  background: white;
  color: black;
}

.irs--shiny .irs-grid-text {
  color: white;
}

.irs--shiny .irs-grid-pol {
  background-color: white;
}

.MPG_text {
  color: black;
  font-weight: bold;
}

.bslib-sidebar-layout>.sidebar {
  background-color: #cbd4e4;
}

.container-fluid {
  padding-left: 0px;
}

.bslib-page-title {
  background-color: #4876b3;
  color: white;
  letter-spacing: 0.2rem;
}
