.slider-card {
  background-color: #4876b390;
}

.irs--shiny .irs-bar, .irs--shiny .irs-handle, .irs--shiny .irs-line,
.irs--shiny .irs-min, .irs--shiny .irs-max, .irs.irs--shiny .irs-from, .irs.irs--shiny .irs-to {
  background: white;
  color: black;
  font-size: 16px;
}

.irs-grid-text {
    font-size: 16px;
}

.irs--shiny .irs-bar::before {
  height: 0px;
}

.irs.irs--shiny .irs-bar {
  background-color: #4876b3!important;
}

.rood {
  background: rgb(210, 67, 66)!important;
  color: white!important;
}

.groen {
  background: rgb(105, 172, 60)!important;
  color: white!important;
}

.irs--shiny .irs-grid-text {
  color: white;
}

.irs--shiny .irs-grid-pol {
  background-color: white;
}

.MPG_text {
  color: black;
  font-weight: bold;
}

.bslib-sidebar-layout>.sidebar {
  background-color: #cbd4e4;
}

.container-fluid {
  padding-left: 0px;
}

.bslib-page-title {
  background-color: #4876b3;
  color: white;
  letter-spacing: 0.2rem;
}

.smiley-left {
  text-align: end;
}

.hide {
  display: none;
}

.show {
  display: inline;
}


