:root{
  --red: rgb(210, 67, 66);
  --green: rgb(105, 172, 60);
}

.bslib-sidebar-layout>.sidebar .shiny-input-container {
  width: 90%;
}

.fas {
    margin-top: 45px;
    margin-left: 10px;
}

.slider-card {
  background-color: #4876b370;
}

.irs--shiny .irs-bar, .irs--shiny .irs-handle, .irs--shiny .irs-line,
.irs--shiny .irs-min, .irs--shiny .irs-max, .irs.irs--shiny .irs-from, .irs.irs--shiny .irs-to {
  background: white;
  color: black;
  font-size: 16px;
}

.irs-grid-text {
    font-size: 16px;
}

.irs.irs--shiny .irs-bar {
  background-color: #4876b3;
  height: 6px;
}

.irs.irs--shiny .irs-bar.left-arrow::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #4976b3;
    left: 2px;
    top: 200%;
    margin-top: -20px;
}

.irs.irs--shiny .irs-bar.groen.left-arrow::after {
    border-right: 25px solid var(--green);
}
.irs.irs--shiny .irs-bar.rood.left-arrow::after {
    border-right: 25px solid var(--red);
}

.irs.irs--shiny .irs-bar.right-arrow::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 25px solid #4976b3;
    right: 2px;
    top: 200%;
    margin-top: -20px;
}

.irs.irs--shiny .irs-bar.groen.right-arrow::after {
    border-left: 25px solid var(--green);
}
.irs.irs--shiny .irs-bar.rood.right-arrow::after {
    border-left: 25px solid var(--red);
}


.rood {
  background: rgb(210, 67, 66)!important;
  color: white!important;
}

.groen {
  background: rgb(105, 172, 60)!important;
  color: white!important;
}

.irs--shiny .irs-grid-text {
  color: white;
}

.irs--shiny .irs-grid-pol {
  background-color: white;
}

.MPG_text {
  color: black;
  font-weight: bold;
}

.bslib-sidebar-layout>.sidebar {
  background-color: #cbd4e4;
}

.container-fluid {
  padding-left: 0px;
}

.bslib-page-title {
  background-color: #4876b3;
  color: white;
  letter-spacing: 0.2rem;
}

.smiley-left {
  text-align: end;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.highcharts-text-outline {
  stroke-width: 0;
  fill: none;
}




