name: Production release
on:
  release:
    types: [published]
    branches:
      - main

env:
  APP_NAME: veni-modellen-applicatie
  REGION: europe-west4
  REGISTRY: europe-west4-docker.pkg.dev

jobs:
  build_and_push:
    name: Build image and push to registry
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        id: auth
        with:
          token_format: access_token
          workload_identity_provider: projects/${{ secrets.GCP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-workload-pool/providers/github
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}/${{ env.APP_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          export_default_credentials: true

      - name: Deploy Cloud Run Job
        run: |
          gcloud run services update ${{ env.APP_NAME }} \
          --image=${{ env.REGISTRY }}/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}/${{ env.APP_NAME }}@${{ steps.build.outputs.digest }} \
          --region=${{ env.REGION }} \
          --service-account=${{ secrets.SERVICE_ACCOUNT }} \
          --cpu=1 \
          --memory=512Mi \
          --min-instances=0
